.navBarContainer{
    height: 60px;
    border-bottom: 1px solid rgba(99, 99, 99, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.navLeft{
    display: flex;
    align-items: center;
    height: 100%;
}

.leftOptions{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 10px;
    cursor: pointer;
    color: #7b8190;
    z-index: 3;
}

.leftOptions:hover{
    color: #73BDEC;
}

.buttonBox{
    position: absolute;
    top: 60px;
    border: 1px solid rgba(99, 99, 99, 0.2);
    width: 380px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    cursor: default;
    background-color: white;
}

@media screen and (max-width: 480px) {
    .leftOptions:nth-child(1){
        display: none;
    }
    .navBarContainer{
       padding: 5px;
    }
    .buttonBox{
        width: auto;
    }
  }

.dropbtn{
    width: 180px;
    border: none;
    background-color: transparent;
    text-align: left;
    padding: 10px 15px;
    cursor: pointer;
    color: #7b8190;
    font-size: 14px;
}

.dropbtn:hover{
    background-color: #F2F3FE;
    color: #73BDEC;
}

.buttonContainer{
    position: absolute;
    top: 60px;
    right: 0;
    border: 1px solid rgba(99, 99, 99, 0.2);
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    background-color: white;
}

.CatButtonBox{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 190px;
}

.dropImgBox{
    display: flex; 
    align-items: center;
}

@media screen and (max-width: 992px){
    .dropImgBox, .dropImg{
        display: none;
    } 
    .buttonContainer{
        gap: 35px;
    } 
}


.navRight{
    display: flex;
    align-items: center;
    gap: 15px;
}

.navRightIcon{
    font-size: 20px;
    color: #7b8190;
    cursor: pointer;
}

.navRightIcon:hover{
    color: #73BDEC;
}

@media screen and (max-width: 600px) {
    .navRightIcon{
        display: none;
    }
  }

.proBox{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.proBox:hover .navProfile{
    border-color: #73BDEC;
}

.navProfile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #d2d5db;
}

.navProfileImg{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.navProName p{
    color: rgb(36, 36, 36);
}

.navProName span{
    color: rgb(85, 85, 85);
    font-size: 12px;
}

.proBox:hover span{
    color: #73BDEC;
}
