.chatContainer{
    background-color: #F7F8FA;
    padding: 20px;
    height: 90vh;
    overflow-y: scroll;
}

.chatMain{
    display: flex;
    margin-top: 30px;
    gap: 10px;
    position: relative;
}

.chatShow{
    width: 25px;
    height: 25px;
    background-color: white;
    height: fit-content;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

.chatShow img{
    width: 100%;
}

.chatOptions{
    flex: 1;
    height: 100%;
    display: block;
}

.chatBox{
    flex: 2.5;
}


@media screen and (max-width: 600px){
    .chatMain{
        position: relative;
        padding-top: 20px;
    }

    .chatShow{
        position: absolute;
        top: -20px;
        left: -10px;
        display: block;
    }

    .chatOptions{
        display: none;
    }

    .showChatOptions{
        display: block;
        position: absolute;
        z-index: 2;
        width: 100%;
    }
}

