.analytics{
    background-color: #F7F8FA;
    padding: 20px;
    height: 90vh;
    overflow-y: scroll;
}


.firstChartBox{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}

.firstLeft{
    flex: 3;
    background-color: white;
    border: 1px solid rgb(240, 240, 240);
    height: fit-content;
}

.firstHeading{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(231, 231, 231);
    padding: 20px;
}

.sortBtnBox{
    position: relative;
}

.sortBtn{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btnOptions{
    position: absolute;
    top: calc(100% + 3px);
    border: 1px solid rgb(240, 240, 240);
}

.btnOptions button{
    display: block;
    width: 100px;
    padding: 5px;
    background-color: white;
    border: none;
    cursor: pointer;
    color: rgb(85, 84, 84);
}

.btnOptions button:hover{
    background-color: rgb(241, 241, 241);
}


.firstVisitors{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.totalVisitor{
    display: flex;
    align-items: end;
    gap: 5px;
}

.totalVisitPer{
    display: flex;
    gap: 5px;
    margin-top: 5px;
}



.firstVisitorRight{
    display: flex;
    align-items: center;
}

.visitorData{
    display: flex;
    align-items: end;
    gap: 8px;
    color: gray;
    padding: 0 20px;
}

.visitorData h2{
    font-weight: 300;
}

.visitorData:nth-child(1) h2{
    color: #038EDC;
}

.visitorData:nth-child(2){
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.totalChart{
    padding: 25px 0;
}

.firstRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
}

.firstTop{
    padding: 20px;
    border-bottom: 1px solid rgb(240, 240, 240);
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: white;
}

.firstUserBox{
    display: flex;
    gap: 12px;
    align-items: center;
}

.firstIcon{
    background-color: #089bf0;
    color: white;
    height: 29px;
    width: 29px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.firstName p:nth-child(1){
    color:rgb(85, 84, 84);
    margin-bottom: 4px;
}

.firstName p:nth-child(2){
    color:rgb(48, 47, 47);
}


/*
......Second chart box
*/

.secondChartBox{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.secondChartBox > *{
    width: 23%;
    min-width: 270px;
}

.secondFirst{
    padding: 20px;
    background-color: white;
    border: 1px solid rgb(240, 240, 240);
}

.sechealine{
    color: #495057;
}

.SecondLineBox{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.SecondLineBox:nth-child(2){
    border-bottom: 1px solid rgb(240, 240, 240);
    border-top: 1px solid rgb(240, 240, 240);
}

.secLineNum{
    display: flex;
    align-items: end;
    gap: 7px;
    margin-top: 8px;
}

.secondSecond{
    background-color: white;
    padding: 20px;
    border: 1px solid rgb(240, 240, 240);
}

.secVisitHead{
    display: flex;
    justify-content: space-between;
}

.secVisitBtns{
    position: relative;
}

.secReportBtn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.secHiddenBtns{
    position: absolute;
    width: 140px;
    background-color: white;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 5px;
    padding: 5px 0;
}

.secHiddenBtns button{
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    text-align: start;
}

.secHiddenBtns button:hover{
    background-color: rgb(240, 240, 240);
}

.secBrowserBox{
    margin-top: 20px;
}

.secBrowser{
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 35px 0;
}

.browserIcon{
    color: #089bf0;
    font-size: 22px;
}

.secBrowserName{
    display: flex;
    justify-content: space-between;
    color: rgb(109, 107, 107);
}

.secBarBox{
    width: 200px;
    margin-top: 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    height: 10px;
}

.barBlue{
    height: 100%;
    border-radius: 5px;
    background-color: #089bf0;
}




/*daughnut chart*/

.secondThird{
    background-color: white;
    padding: 20px;
    border: 1px solid rgb(240, 240, 240);
}

.secondDoughnut{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Traffic source*/

.secondForth{
    background-color: white;
    padding: 20px;
    border: 1px solid rgb(240, 240, 240);
}

.trafficBox{
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 40px 0;
}

.trafficId{
    background-color: #F5F6F8;
    color: #038edc;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trafficData{
    display: flex;
    justify-content: space-between;
    width: 200px;
}


/*
Third Chart Box
*/

.thirdChartBox{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}

.thirdVisitor{
    flex: 2.5;
    background-color: white;
    padding: 20px;
    border: 1px solid rgb(240, 240, 240);
}

.channels{
    flex: 1.5;
    background-color: white;
    padding: 20px;
    border: 1px solid rgb(240, 240, 240);
}

.channelsTable{
    margin-top: 20px;
}


.thirdGeoContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.thirdGoeChart{
    width: 420px;
}

.analyticCountryBox{
    min-width: 300px;
    padding: 20px;
}

.analyticDatas{
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    margin: 25px 0;
}

.flagContainer{
    background-color: #f0f1f1;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.analyticeFlag{
    width: 15px;
}

.analyticInfo{
    width: 100%;
}

.analyticCoutryName{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.channelTable{
    width: 90%;
    margin: 0 auto;
    color: rgb(85, 84, 84);
}

.channelTable tr{
    padding: 10px 0;
}

.channelTable tr th{
    text-align: left;
    padding: 10px 0;
}

.channelTable tr td{
    padding: 10px 0;
}